.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* My CSS Additions */
.container {
  padding: 2%;
}

body {
  background-color: #78909C;
  color: #37474F;
}

#title {
  padding: 1% 0 0 1%;
  margin: 0 1% 1% 0;
}

#nav {
  background-color: #1E88E5;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 5px 10px black;
}

.columns {
  text-align: center;
}

#stateSelection {
  background-color: #78909C;
  color: #37474F;
}

#api-link {
  color: #37474F;
  text-decoration: none;
}

#api-link:hover {
  color: white;
  text-decoration: underline;
}

#api-link:active {
  color: #78909C;
  text-decoration: none;
}

#footer {
  width: 100%;
  background-color: #1E88E5;
  color: white;
  margin-top: 5%;
}

.number-container {
  background-color: #1E88E5;
  color: white;
  border-radius: 40px;
  box-shadow: 10px 5px 20px black;
}

#footer .columns {
  margin: 2% auto 0 auto;
}

.banner {
  margin: 10% auto 0 auto;
}

.contact-form p {
  text-align: left;
}

#state-title, #us-title {
  margin: 7% auto 0 auto;
}

#contact-form {
  padding: 0;
}
